<div class="container mt-3">
    <form class="d-flex mb-2">
      <select name="" id="" class="mr-1">
        <option value="ENGLISH" selected>ENGLISH</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <select name="" id="" class="mr-1">
        <option value="ENGLISH" selected>ENGLISH</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="card" style="width: 18rem">
      <img
        src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3> Harry Potter</h3>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
    </div>
  </div>