<div class="container mt-3">
  <div class="d-flex mb-2">
    <select name="" id="" class="mr-1" [(ngModel)]="selectedLanguage">
      <option value="">none</option>
      <option *ngFor="let language of languages" [value]="language">
        {{ language }}
      </option>
    </select>
    <select name="" id="" class="mr-1" [(ngModel)]="selectedLocation">
      <option value="">none</option>
      <option *ngFor="let location of locations" [value]="location">
        {{ location }}
      </option>
    </select>
    <button class="btn btn-outline-success" type="submit" (click)="getData()">
      Search
    </button>
  </div>

  <div class="d-flex">
    <div
      class="card m"
      style="min-width: 18rem"
      *ngFor="let movie of movieList"
      [routerLink]="['movie', movie.imdbID]"
    >
      <img [src]="movie.poster" class="card-img-top" />
      <div class="card-body">
        <h5>{{ movie.title }}</h5>
      </div>
    </div>
  </div>
</div>
