<div class="container">
  <h2>
    MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU
  </h2>
  <div class="row">
    <div class="col-6">
      <img
        class="mw-100"
        src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-6 row">
      <div class="col-6 h6">Language</div>
      <div class="col-6 h6">Location</div>
    </div>
  </div>
</div>

<!-- "Language": "ENGLISH",
"Location": "PUNE",
"Plot": "Forced to spend his summer holidays with his muggle relations, Harry Potter gets a real shock when he gets a surprise visitor: Dobby the house-elf, who warns Harry Potter against returning to Hogwarts, for terrible things are going to happen. Harry decides to ignore Dobby's warning and continues with his pre-arranged schedule. But at Hogwarts, strange and terrible things are indeed happening: Harry is suddenly hearing mysterious voices from inside the walls, muggle-born students are being attacked, and a message scrawled on the wall in blood puts everyone on his/her guard - \"The Chamber Of Secrets Has Been Opened. Enemies Of The Heir, Beware\" .",
"Poster": "https://images-na.ssl-images-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_SX300.jpg",
"SoundEffects": [
    "DOLBY",
    "DTS"
],
"Stills": [
    "https://i.imgur.com/3fJ1P48.gif",
    "https://i.imgur.com/j6ECXmD.gif",
    "https://i.imgur.com/v0ooIH0.gif"
],
"Title": "Harry Potter and the Chamber of Secrets",
"imdbID": "tt0295297",
"listingType": "NOW_SHOWING",
"imdbRating": "7.4"
} -->
