<div class="container" *ngIf="movieDetail">
  <h2>{{ movieDetail.title }}</h2>
  <div class="row">
    <div class="col-6">
      <img class="w-100" [src]="movieDetail.poster" alt="" srcset="" />

      <ngb-carousel *ngIf="movieDetail.stills" class="mt-3">
        <ng-template ngbSlide *ngFor="let still of movieDetail.stills">
          <div class="picsum-img-wrapper">
            <img [src]="still" class="mw-100" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="row col-6">
      <div class="row w-100">
        <div class="col-6 h6">Language</div>
        <div class="col-6 h6">{{ movieDetail.language }}</div>
      </div>

      <div class="row w-100">
        <div class="col-6 h6">Location</div>
        <div class="col-6 h6">{{ movieDetail.location }}</div>
      </div>

      <div class="row w-100">
        <div class="col-6 h6">Plot</div>
        <div class="col-6 h6">{{ movieDetail.plot }}</div>
      </div>

      <div class="row w-100">
        <div class="col-6 h6">Ratings</div>
        <div class="col-6 h6">{{ movieDetail.imdbRating }}</div>
      </div>
    </div>
  </div>
</div>
